<link rel='stylesheet' href='/stylesheets/style.css' />

<section class="intro">

  <header class="explore-header">
    <h1>Explore Exotic Places</h1>

    <a class="discover" href="#explore">
      <i class="fa fa-angle-double-down"></i>
    </a>

  </header>

</section>

<section class="explore-page" id="explore">
  <nav class="navbar navbar-default" id="cd-main-nav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="/developer">Web Dev & DS</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/explore">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
            <!-- <span class="badge">{{ session.cart.totalQty }}</span> -->
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


</section>

<div class="blog-wrapper">
  <!-- Filter Implementation -->
  <br>
  <h3 style="text-align:center;">Check out my Data Science blog <span><a href="https://kayne10.github.io/data-science-blog/">here</a></span></h3>
  <br>
  <!-- hike container -->
  <div class="row blog-row">
    <div class="hike-container">
      {{#each hikePosts}}
      <a href="/explore/post/{{ this._id }}">
        <div class="col-md-4 post-thumbnail">
          <img src="{{ this.imagePath }}" class="responsive" alt="...">
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <h5>Category: {{ this.category }}</h5>
            <p>
              Click for more
            </p>
            <!-- sharing options -->
            <div class="share">
              <span class='st_facebook_large' displayText='Facebook'></span>
              <span class='st_twitter_large' displayText='Tweet'></span>
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <!-- music container -->
  <div class="row blog-row">
    <div class="music-container">
      {{#each musicPosts}}
        <a href="/explore/post/{{ this._id }}">
          <div class="col-md-6 post-thumbnail">
            <img src="{{ this.imagePath }}" class="img-responsive" alt="...">
            <div class="caption">
              <h3>{{ this.title }}</h3>
              <h5>Category: {{ this.category }}</h5>
              <p>
                Click for more
              </p>
              <!-- sharing options -->
              <div class="share">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
              </div>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
  <div class="row blog-row">
    <div class="hike-container">
      {{#each campPosts}}
      <a href="/explore/post/{{ this._id }}">
        <div class="col-md-4 post-thumbnail">
          <img src="{{ this.imagePath }}" class="img-responsive" alt="...">
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <h5>Category: {{ this.category }}</h5>
            <p>
              Click for more
            </p>
            <!-- sharing options -->
            <div class="share">
              <span class='st_facebook_large' displayText='Facebook'></span>
              <span class='st_twitter_large' displayText='Tweet'></span>
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>
